

            <div class="card-body">
                <div class="user-pic"><img src="https://merriam-webster.com/assets/mw/images/article/art-global-footer-recirc/character-dragon-with-sunglasses-image-6332-f5704f661135d682466ec9f8b327e014@1x.jpg" alt="Charicard"></div>
                <div class="h5">@LeeCross</div>
                <div class="h7 text-muted">Fullname : Miracles Lee Cross</div>
                <div class="h7">Life is like an apple. You never know when one might drop on you. 
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="h6 text-muted">Followers</div>
                    <div class="h5">5.2342</div>
                </li>
                <li class="list-group-item">
                    <div class="h6 text-muted">Following</div>
                    <div class="h5">6758</div>
                </li>
                <li class="list-group-item"><a routerLink='/profile'>View Profile</a></li>
            </ul>

