

            <div class="card-body">
                <div class="user-pic"><img src='{{awsS3Path + user.avatar}}' alt="Charicard"></div>
                <div class="h5">@{{user.username}}</div>
                <div class="h7 text-muted">Fullname : {{user.fname}} {{user.lname}}</div>
                <div class="h7">Life is like an apple. You never know when one might drop on you.
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="h6 text-muted">Followers</div>
                    <div class="h5">5.2342</div>
                </li>
                <div>
                    <div>
                        <li class="list-group-item leftContainer"><a routerLink='/profile/{{user.username}}'>View Profile</a></li>
                    </div>
                    <div>
                        <li class="list-group-item rightContainer"><a routerLink='/update-user'>Edit Profile</a></li>
                    </div>
                    
                </div>
                
            </ul>

