<div class="chat">
    <div class="container">
        <div class="chat-content">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Username: </strong>
                        <span>Message</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Username: </strong>
                        <span>Message</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>