<h1>Welcome!</h1>
<div>
  <h2>Lets update your account information.</h2>


  <label>
    New email:
    <input type="email" placeholder="Email" [(ngModel)]="emailField">
  </label>
  <br>
  <label>
    New username:
    <input type="text" placeholder="Username" [(ngModel)]="usernameField">
  </label>
  <br>
  <label>
    New password:
    <input type="password" placeholder="Password" [(ngModel)]="passwordField">
  </label>
  <br>
  <label>
    New first name:
    <input type="text" placeholder="First name" [(ngModel)]="fnameField">
  </label>
  <br>
  <label>
    New last name:
    <input type="text" placeholder="Last name" [(ngModel)]="lnameField">
  </label>
  <!-- Photo input -->
  <div>
    <input type="file" class="form-control" id="inputFile" (change)="onFileSelected($event.target.files)" multiple>
    <label class="input-group-text" for="inputGroupFile02">Upload</label>
  </div>	
  <br>
  <button type="submit" (click)="onSubmit()">Submit</button>


  <nav>