<h1>Welcome!</h1>
<div>
<h2>Lets update your account information.</h2>

<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" >
    <label>
        New email:
        <input type="email" formControlName="email">
      </label>
<br>
      <label>
        New username:
        <input type="text" formControlName="username">
      </label>
      <br>
      <label>
        New password:
        <input type="password" formControlName="password">
      </label>
      <br>
    <label>
      New first name:
      <input type="text" formControlName="firstName">
    </label>
    <br>
    <label>
      New last name:
      <input type="text" formControlName="lastName">
    </label>
    <br>
    <button type="submit">Submit</button>
  </form>

  <nav>